---
---
$font-stack: Lato, system-ui, sans-serif;
$light-gray: #c8c2bd;
$dark-gray: #504d3e;
$off-white: #f9f9f8;
$off-black: #110009;
$btn-gradient1: #a49f8b;
$btn-gradient2: #7c734e;
$btn-primary-gradient1: #fc0;
$btn-primary-gradient2: #caa200;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

.container, .container-thin {
    padding-left: 5%;
    padding-right: 5%;
}




/* NAVIGATION */

nav {
    width: 100%;
    padding-top: .5rem;
    padding-bottom: 0.4rem;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav-logo {
    height: 8rem;
}

nav ul {
    display: grid;
    grid-auto-flow: column; 
    grid-column-gap: 1.5rem;
}

nav li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 100%;
    color: $dark-gray;
    display: inline-block;
    margin-top: 1rem;
}

.nav-link:hover, .nav-link:active {
    color: $off-black;
}

.nav-scroll {
    background: $off-white;
}

.nav-scroll #nav-logo {
    height: 3.5rem;
}

nav, .nav-link, .button, #nav-logo {
    transition: .15s;
}




/* HEADER */

#hero {
    height: 100%;
    width: 100%;
    z-index: -10;
    position: fixed;
}

header {
    height: 35rem;
    overflow: hidden;
}

header .container {
    padding-top: 12.5rem;
    width: 100%;
    height: 100%;
    background: rgba(240,230,210,.8);
    text-align: center;
}

h1 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 100%;
    margin-bottom: 1.5rem;
}

.button {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 100%;
    text-transform: uppercase;
    color: #f9f9f8;
    background: linear-gradient(45deg, $btn-gradient1, $btn-gradient2);
    padding: .65em .85em;
    border-radius: 2em;
    display: inline-block;
}

.button-primary {
     background: linear-gradient(45deg, $btn-primary-gradient1, $btn-primary-gradient2);
}

.button:first-of-type {
    margin-right: 1rem;
}

.button:hover {
    transform: scale(1.1);
}




/* MAIN SECTIONS */

section {
    background: $off-white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.grid {
    display: grid;
    grid-auto-flow: row;
}

article img {
    border-radius: 2rem;
    max-width: 100%;
}

h2 {
    font-size: 1.85rem;
    line-height: 125%;
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
    line-height: 150%;
    margin: 1rem 0;
    color: $dark-gray;
}

article {
    margin-bottom: 3rem;
}

article:last-of-type {
    margin-bottom: 0;
}





/* FOOTER */

footer {
    background: $dark-gray;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    text-align: center;
    color: $off-white;
}

footer .logo {
    width: 7.5rem;
    display: block;
    margin: auto;
}

h4 {
    color: $off-white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer a {
    color: $off-white;
}

.social-icon img {
    width: 40px;
    display: inline-block;
    margin: 0 5px;
}

footer p {
    font-size: .9rem;
    margin: .5rem 0;
    line-height: 125%;
    color: $off-white;
}

h5 {
    display: none;
}




/* MEDIA QUERIES (FOR SCREENS LARGER THAN PHONE) */

@media (min-width: 45rem) {
    .container, .container-thin {
        padding-left: 10%;
        padding-right: 10%;
    }

    #nav-logo {
        width: 10rem;
    }
    
    h1 {
        font-size: 4rem;
    }
    
    header .button {
        font-size: 1.6rem;
    }

    .two-columns {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }

    .three-columns {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
}

@media (min-width: 80rem) {
    .container-thin {
        padding-left: 17.5%;
        padding-right: 17.5%;
    }
}