---
---
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.container, .thin-container {
    padding-left: 5%;
    padding-right: 5%;
}




/* NAVIGATION */

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    position: fixed;
    transition: .15s;
    padding-top: 1rem;
    padding-bottom: .5rem;
    z-index: 100;
}

#nav-logo-a {
    padding-right: 1rem;
    width: 100%;
}

#nav-logo {
    width: 100%;
}

nav, #nav-logo, .nav-link, .button, #nav-logo-a, #nav-logo {
    transition: .15s;
}

nav li {
    list-style: none;
    display: inline-block;
    margin: .15rem .25rem .3rem;
}

nav ul {
    text-align: right;
}

.nav-link {
    text-decoration: none;
    font: 700 1.5rem/100% Roboto Condensed;
    text-transform: uppercase;
}

.nav-link, h1, h2 {
    color: #423f33;
}

.nav-link:hover, .nav-link:active {
    color: #deb200;
}

.nav-scroll {
    background: #fff;
}




/* HEADER */

#hero {
    height: 100%;
    width: 100%;
    z-index: -10;
    position: fixed;
}

header {
    height: 35rem;
    overflow: hidden;
}

header .container {
    padding-top: 11rem;
    width: 100%;
    height: 100%;
    background: rgba(255,250,235,.85);
    text-align: center;
}

h1 {
    font: 400 3rem/100% Roboto;
    margin-bottom: 1.5rem;
}

.typewrite {
    display: block;
}

.button {
    text-decoration: none;
    font: 700 1.3rem/100% Roboto Condensed;
    text-transform: uppercase;
    color: #f9f9f8;
    background: linear-gradient(45deg, #a49f8b, #7c734e);
    padding: .65em .85em;
    border-radius: 2em;
    display: inline-block;
}

.button-primary {
     background: linear-gradient(45deg, #fc0, #caa200);
}

.button:first-of-type {
    margin-right: 1rem;
}

.button:hover {
    transform: scale(1.1);
}




/* MAIN SECTIONS */

section {
    background: #f9f9f8;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

article {
    padding-bottom: 2.5rem;
}

article:last-of-type {
    padding-bottom: 0;
}

.half, .third {
    margin-bottom: 1rem;
    width: 100%;
}

h2 {
    font: 700 1.85rem/125% Roboto;
    margin-bottom: 1rem;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 1rem;
    line-height: 145%;
    margin: 1rem 0;
    color: #706c58;
}

img {
    max-width: 100%;
}





/* FOOTER */

footer {
    background: #423f33;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #eeede9;
}

footer .logo {
    width: 7.5rem;
    display: block;
    margin: auto;
}

h4 {
    color: #f9f9f8;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer a {
    color: #f9f9f8;
}

.social-icon img {
    width: 40px;
    display: inline-block;
    margin: 0 5px;
}

footer p {
    font-size: .9rem;
    margin: .5rem 0;
    line-height: 125%;
    color: #eeede9;
}

h5 {
    display: none;
}




/* MEDIA QUERIES (FOR SCREENS LARGER THAN PHONE) */

@media (min-width: 45rem) {
    .container, .thin-container {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    h1 {
        font-size: 4rem;
    }
    
    header .button {
        font-size: 1.6rem;
    }
    
    nav {
        grid-template-columns: 7.5rem 1fr;
    }
    
    .nav-scroll {
        padding-top: .5rem;
        padding-bottom: .15rem;
    }
    
    .nav-scroll #nav-logo {
        width: 3rem;
    }
    
    .nav-scroll ul {
        padding-top: .75rem;
    }
    
    .half {
        width: 50%;
    }

    .half:first-of-type {
        padding-right: 1rem;
    }

    .half:last-of-type {
        padding-left: 1rem;
    }
}

@media (min-width: 80rem) {
    nav {
        grid-template-columns: 10rem 1fr;
    }
    
    .nav-link {
        margin-left: .75rem;
    }
    
    .thin-container {
        padding-left: 17.5%;
        padding-right: 17.5%;
    }
    
    .third {
        width: 33.3%;
        padding: 0 .5rem;
    }
}