        <footer class="grid three-columns container">
            <div class="third">
                <h4>Get In Touch</h4>
                
                <a href="https://www.instagram.com/frc5962/" class="social-icon"><img src="{{ '/icons/ig.svg' | prepend:site.url }}" alt="Instagram: @frc5962"></a>
                
                <a class="social-icon" href="https://www.facebook.com/FRCTeam5962/"><img src="{{ '/icons/fb.svg' | prepend:site.url }}" alt="Facebook: @FRCTeam5962"></a>
                
                <a class="social-icon" href="https://twitter.com/FRCTeam5962"><img src="{{ '/icons/twitter.svg' | prepend:site.url }}" alt="Twitter: @FRCTeam5962"></a>
                
                <p><a href="mailto:frcteam5962@gmail.com">frcteam5962@gmail.com</a></p>
                
                <p>Learn more about <a href="{{ '/sponsors' | prepend:site.url }}">sponsoring</a> FRC Team 5962!</p>
            </div> 
           
            <div class="third">
                <h4>FRC Team 5962 perSEVERE</h4>
                <center><a href="{{ site.url }}" class="logo">
                    <img src="{{ '/media/logo.svg' | prepend:site.url }}" alt="Team 5962 Logo" height="144" width="144">
                </a></center>
                <p>Lowell, Massachusetts & all of the Merrimack Valley</p>
            </div>
              
            <div class="third">
                <h4>Merrimack Valley Robotics (MVR)</h4>
                
                <p>Merrimack Valley Robotics, our parent organization, is a 501(c)(3) public charity that also supports 30+ <i>FIRST</i> LEGO League Jr. teams and several <i>FIRST</i> LEGO League teams for K-4 and middle school students, respectively.</p>
                
                <p>EIN: 81-1350099</p>    
            </div>
        </footer>
        
        <script>
        // Shrink nav on scroll
        function resizeNavOnScroll() {
            const distanceY = window.pageYOffset || document.documentElement.scrollTop,
                  shrinkOn = 100,
                  navEl = document.getElementById('global-nav');
            if (distanceY > shrinkOn) {
                navEl.classList.add('nav-scroll');
            } else {
                navEl.classList.remove('nav-scroll');
            }
        }
        window.addEventListener('scroll', resizeNavOnScroll);
        </script>
    </body>
</html>
