<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="{{ site.description }}">
        <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
        <link rel="stylesheet" href="{{ '/css/styles.css' | prepend:site.url }}">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
        <link rel="shortcut icon" type="image/icon" href="{{ '/media/favicon.ico' | prepend:site.url }}">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158754784-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-158754784-1');
        </script>
    </head>

    <body>
        <nav id="global-nav">
            <div id="menuToggle">
                <input type="checkbox" />

                <span></span>
                <span></span>
                <span></span>

                <ul id="menu">
                    <a id="nav-logo-a" href="{{ site.url }}">
                        <img id="nav-logo" src="{{ '/media/logo.svg' | prepend:site.url }}" alt="{{ site.title }} Logo">
                    </a>

                    <ul>
                        {% for link in site.nav-links %}
                        <li><a class="nav-link" href="{{ link.url | prepend:site.url }}">{{ link.name }}</a></li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>
        </nav>