<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="{{ site.description }}">
        <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
        <link rel="stylesheet" href="{{ '/css/styles.css' | prepend:site.url }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,700" rel="stylesheet">
    </head>

    <body>
        <nav id="global-nav" class="container">
            <a id="nav-logo-a" href="{{ site.url }}">
                <img id="nav-logo" src="{{ '/media/logo.svg' | prepend:site.url }}" alt="Team 5962 Logo">
            </a>

            <ul>
                {% for link in site.nav-links %}
                <li><a href="{{ link.url | prepend:site.url }}">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>